* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    font-size: 20px;
    overflow: hidden;
    color: #334155;
    font-weight: 500;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



main {
    background-color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 20px;
    background-color: #e2e8f0;
    box-shadow: 0 0 3px 2px #47556936;
    border-style: none;
    font-weight: 700;
}

button:hover {
    background-color: #cbd5e1;
}

button#multiply:hover,
button#divide:hover,
button#plus:hover,
button#minus:hover {
    background-color: #bfdbfe;
}

button#equals:hover {
    background-color: #dcfce7;
}


.calculator {
    background-color: #94a3b8;
    box-shadow: 0 0 20px 10px #02061748;
    border: 1px solid #020617;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    height: 550px;
    width: 350px;
    flex-shrink: 0;
}

#display {
    height: 70px;
    border-radius: 20px;
    border-style: none;
    border: 1px solid #4755698e;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 50px;
    background-color: #cbd5e1;
    box-shadow: inset 0 0 3px 1px #47556931;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
    padding: 5px;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    gap: 10px;
}

.row-1 button {
    flex-grow: 1;
    border-radius: 20px;
}

.row-1 button:hover {
    background-color: #fee2e2;
}
.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
    
}
.row-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
    
}
.row-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
    
}
.row-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
    
}
  

footer {
    padding: 2em 0;
    text-align: center;
    background-color: #1e293b;
    width: 100%;
    color: white;
}